<div class="container">
    <div class="content">
        <h2>Education</h2>
        <form action="">
            <label for="">Institution</label>
            <input type="text" name="" id="">
            <label for="">Discipline</label>
            <input type="text" name="" id="">
            <label for="">Duration</label>
            <input type="date" name="" id="" placeholder="start-date">
            <input type="date" name="" id="" placeholder="graduation year">
        </form>
    </div>
</div>