.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px
  background-color: #beb0b0
  color: #fff

.logo-container
  img
    max-width: 100px

.navigator
  nav
    ul
      list-style: none
      display: flex
      margin: 0
      padding: 0
      align-items: center

    li
      margin: 0 10px
      text-transform: uppercase

      a
        text-decoration: none
        color: #fff
        &:hover
          text-decoration: underline

        button
          background-color: #3498db
          color: #fff
          border: none
          padding: 8px 15px
          border-radius: 5px
          cursor: pointer
          transition: background-color 0.2s ease
          &:hover
            background-color: #2980b9

        &.cta-btn
          margin: 0
          padding: 0
          border: none
          background-color: transparent
          text-decoration: none
          &:hover
            background-color: transparent
