<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="../../assets/CV-Builder.png" alt=""></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="">home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" class="waves-effect waves-light btn">Get Started</a></li>
            <li><a routerLink="signup">signup</a></li>
            <li><a routerLink="login">login</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="">home</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#" class="waves-effect waves-light btn">Get Started</a></li>
    <li><a routerLink="signup">signup</a></li>
    <li><a routerLink="login">login</a></li>
</ul>