:host
  display:block

  .container
    display:flex
    flex-direction:row
    flex-wrap:wrap
    width: 100%

    h1
      font-size: 2.5rem
      margin-bottom: 20px

    .flow-header
      font-size: 1.25rem
      line-height: 1.6

    p
      margin: 10px 0
      

    span.flow-header
      font-weight: bold
      color: black

    ::ng-deep
      .flow-text
        font-weight: bold
    

mat-card
  margin:20px 0
  width: 100%
  display:inline-flex
  flex-direction: column

  mat-card-header
    text-transform: uppercase
    text-decoration: underline solid 3px

  mat-card-content
    width: 100%
    font-weight:400
    font-size:14px 