<div class="container">
    <div class="content">
        <form action="">
            <label for="">First Name</label>
            <input type="text" name="" id="">
            <br>
            <label for="">Last Name</label>
            <input type="text" name="" id=""><br>
            <label for="">Email</label>
            <input type="text" name="" id=""><br>
            <label for="">Picture</label>
            <input type="file" name="" id=""><br>
            <label for="">Professional Summary</label>
            <textarea cols="50"></textarea>
        </form>
    </div>

</div>