<div class="container">
    <div class="content">
        <h2>Experience</h2>
        <form action="">
            <label for="companyName">Company Name</label>
            <input type="text" name="companyName" id="companyName">
            <label for="jobTitle">Job Title</label>
            <input type="text" name="jobTitle" id="jobTitle">
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="startDate">
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate">
        </form>
    </div>
</div>
