<div>
<div class="footer-container">
    <div class="containers">
        <h2><em>Contacts </em></h2>
    </div>
    <div class="containers">
        <nav>
            <h2><em>Partners</em></h2>
            <ul>
                <li><img src="" alt="partners-logo"></li>
                <li><img src="" alt="partners-logo"></li>
                <li><img src="" alt="partners-logo"></li>
                <li><img src="" alt="partners-logo"></li>
                <li><img src="" alt="partners-logo"></li>
            </ul>
        </nav>
    </div>
    <div class="containers">
        <nav>
            <h2><em>Other Links</em></h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        
    </div>
    
    <div class="containers"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut inventore, molestias repellendus voluptatibus ea, iste unde rem magni dignissimos at recusandae natus vitae! Voluptatibus quidem quia, illo reiciendis recusandae vitae.</p></div>

</div>
<div class="banner">
    <div class="content">
        <p><span> Horla_techs</span></p>
        <p><em> a touch for many solutions</em></p>
    </div>
</div>
</div>