<div class="container">
    <h2>How to Use Our CV Builder – Your Step-by-Step Guide</h2>
    <p>Our CV builder streamlines the process, helping you create a polished CV that will impress employers. Whether you're a recent graduate or an experienced professional, our platform guides you every step of the way. Start crafting your standout CV today and open the doors to exciting career opportunities.</p>

    <p>Creating a professional CV with our CV builder is a breeze. Follow these simple steps to craft a standout CV,
        from
        registration to exporting it in your preferred format and sending it to your email:</p>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 1: Register</span>
                    <ol class="list-group">
                        <li>Visit our CV builder website.</li>
                        <li>Click on the "Register" button.</li>
                        <li>Fill in your details to create your account.</li>
                        <li>Verify your email address through the confirmation link we send you.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 2: Log In</span>
                    <ol class="list-group">
                        <li>Use your registered username and password to log in.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 3: Start Building</span>
                    <ol class="list-group">
                        <li>After logging in, you'll land on your dashboard.</li>
                        <li>Click on the "Create New CV" button.</li>
                        <li>Choose a template that suits your style and industry.</li>
                        <li>Start filling in your personal details, education, work experience, skills, and more.</li>
                        <li>Our intuitive interface makes it easy to add and rearrange sections as needed.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 4: Customize</span>
                    <ol class="list-group">
                        <li > Tailor each section to highlight your strengths.</li>
                        <li > Upload a professional photo.</li>
                        <li > Choose from various fonts and colors to match your style.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 5: Preview</span>
                    <ol class="list-group">

                    <li > Review your CV using the built-in preview feature.</li>
                    <li > Make sure all information is accurate and well-presented.</li>
                </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 6: Export</span>
                    <ol class="list-group">

                        <li > Once you're satisfied, click the "Export" button.</li>
                        <li > Choose your preferred format – PDF, Word, or other popular formats.</li>
                        <li > Your CV will be instantly generated in the chosen format.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                                        
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title steps">Step 7: Send to Your Email</span>
                    <ol class="list-group">

                        <li > Once you're satisfied, click the "Export" button.</li>
                        <li > Choose your preferred format – PDF, Word, or other popular formats.</li>
                        <li > Your CV will be instantly generated in the chosen format.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="">
                                        
                </div>
            </div>
        </div>
   </div>
</div>
